@model Todo

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-pzjw8f+ua6U+x9x3u5AP3z/W1p8KnVc/sS4r/1/H8x4Dffpzv2v2G5TO9d6H1y2" crossorigin="anonymous" />
    <style>
        body {
            padding: 20px;
            background-color: #f8f9fa;
        }

        h2 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        h4 {
            color: #333;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .row dt {
            font-weight: bold;
        }

        .display-1 {
            font-size: 24px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-primary:hover {
                background-color: #0069d9;
                border-color: #0062cc;
            }

        .back-link {
            color: #007bff;
            text-decoration: none;
            font-size: 16px;
            display: inline-block;
            margin-top: 20px;
        }

        .yes {
            color: green;
            font-weight: bold;
        }

        .no {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Todo Details</h2>

        <div>
            <h4>Todo Item</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10 display-1">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsDone)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.IsDone)
                    {
                        <span class="yes">YES</span>
                    }
                    else
                    {
                        <span class="no">NO</span>
                    }
                </dd>
            </dl>
        </div>

        <p>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="back-link">Back to List</a>
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua6U+x9x3u5AP3z/W1p8KnVc/sS4r/1/H8x4Dffpzv2v2G5TO9d6H1y2" crossorigin="anonymous"></script>
</body>
</html>